@import url('https://fonts.googleapis.com/css?family=Poppins:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@font-face {
    font-family: 'LTColoredPencil';
    src: url('./assets/fonts/LTColoredPencil.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


:root {
    font-family: 'Poppins', sans-serif;
}

.font-LTColoredPencil{
    font-family: 'LTColoredPencil';
    color: rgb(162, 0, 255);
}

body{
    /* background-color: rgb(240, 215, 255); */
    background-color: whitesmoke;
}

.fa-solid.fa-forward, .fa-solid.fa-backward{
    color: white;
}

.fa-solid.fa-play, .fa-solid.fa-pause{
    color: rgba(248, 171, 255, 0.5);
}

.player-progress{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    cursor: pointer;
    height: 4px;
    width: 40%;
    display: inline-block;
    margin: 4px 2px 3px;
}

.progress{
    background-color: white;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}

.custom-glow-effect {
  transition: scale 0.5s, box-shadow 0.5s;
  cursor: pointer;
}
.custom-glow-effect:hover{
    scale: 1.05;
    box-shadow: 0 0 10px rgb(232, 131, 255), /* Red glow */
              0 0 20px rgb(232, 131, 255),
              0 0 30px rgb(232, 131, 255);
}